@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h4>Bartosz Chodyła</h4>

<a target="_blank" href="https://www.bartoszchodyla.pl/kontakt/">Contact form</a>
<address>
    <strong>Email:</strong> <a href="mailto:bartoszchodyla@gmail.com">bartoszchodyla@gmail.com</a><br />
    <strong>Phone Number:</strong> <a href="tel:+48 698 821 253">+48 698 821 253</a>
</address>