
@{
    ViewBag.Title = "Edit Equipment Order";
}

<h2>@ViewBag.Title</h2>
<hr>

@Html.Partial("_EquipmentOrderForm")

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/GymManager/gm-pupulate-select-with-ajax-get.js")

    <script>
        $(document).ready(function () {

            getResourcesFromAPIAndInsertInSelect("#typeId", "Equipment Type", "types");

            var url = $(location).attr('href');
            var id = url.substring(url.lastIndexOf('/') + 1);
            if (id > 0) {
                $.ajax({
                    type: "GET",
                    url: "/api/equipmentOrders/" + id,
                })
                    .done(function (equipmentOrder) {
                        $("#brand").val(equipmentOrder.brand);
                        $("#model").val(equipmentOrder.model);
                        $("#typeId").val(equipmentOrder.type.id);
                        $("#quantity").val(equipmentOrder.quantity);
                        var date = new Date(equipmentOrder.desiredDeliveryDate);
                        var dateString = date.getFullYear() + '-'
                            + ('0' + (date.getMonth() + 1)).slice(-2) + '-'
                            + ('0' + date.getDate()).slice(-2);
                        $("#desiredDeliveryDate").val(dateString);

                    })
                    .fail(function () {
                        window.location.pathname = '/Equipment'
                    });
            }

            $("#equipmentOrderForm").validate({
                errorPlacement: function ($error, $element) {
                    var name = $element.attr("name");
                    $("#error" + name).append($error);
                },
                rules: {
                    brand: {
                        maxlength: 30,
                    },
                    model: {
                        maxlength: 30,
                    }
                },
                submitHandler: function () {
                    var formData = $('#equipmentOrderForm').serializeArray().reduce(function (obj, item) {
                        obj[item.name] = item.value;
                        return obj;
                    }, {});
                    $.ajax({
                        url: "/api/equipmentOrders/" + id,
                        method: "PUT",
                        data: formData
                    })
                        .done(function () {
                            toastr.success("Equipment order successfully updated.");
                        })
                        .fail(function () {
                            toastr.error("Unexpected error.");
                        });

                    return false;
                }
            });
        })

    </script>
}


