
@{
    ViewBag.Title = "Supplements";
}

<h2>Supplements</h2>

<a href="/Supplements/New" class="btn btn-primary mt-3" role="button">New Supplement</a>
<hr>

<div class="table-responsive">
    <table id="supplements" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Type</th>
                <th>Flavor</th>
                <th>Initial Amount [g]</th>
                <th>Current Amount [g]</th>
                <th>Consumed Amount [g]</th>
                <th>Delivery Date</th>
                <th width="3%"></th>
                <th width="3%"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section scripts
{
    @Scripts.Render("~/scripts/GymManager/gm-handle-supplements-datatable.js")
}