
@{
    ViewBag.Title = "New Supplement";
}

<h2>New Supplement</h2>
<hr>

<form id="supplementForm">
    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-copyright"></i></span>
        </div>
        <input class="form-control" placeholder="Brand" id="brand" name="brand" required>
    </div>
    <p id="errorbrand"></p>

    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text"><i class="fa fa-pills"></i></label>
        </div>
        <select class="form-control" id="supplementTypeId" name="supplementTypeId" required></select>
    </div>
    <p id="errorsupplementTypeId"></p>

    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text"><i class="fa fa-grin-tongue"></i></label>
        </div>
        <select class="form-control" id="flavorId" name="flavorId" required></select>
    </div>
    <p id="errorflavorId"></p>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fas fa-box"></i> </span>
        </div>
        <input type="number" class="form-control" placeholder="Initial Amount [g]" step="1" id="initialAmount" name="initialAmount" min="1" max="10000" required>
    </div>
    <p id="errorinitialAmount"></p>

    <div class="input-group">
        <label for="deliveryDate">Delivery Date</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-calendar-alt"></i> </span>
            </div>
            <input id="deliveryDate" type="date" class="form-control" name="deliveryDate" min="2000-01-01" max="2100-01-01"  required>
        </div>
    </div>
    <p id="errordeliveryDate"></p>

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Submit</button>
    <a href="/Supplements" class="btn btn-danger ml-2" role="button"><i class="fa fa-undo"></i> Back</a>
</form>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/GymManager/gm-pupulate-select-with-ajax-get.js")
    @Scripts.Render("~/scripts/GymManager/gm-get-todays-date.js")
    <script>
        $(document).ready(function () {
            getResourcesFromAPIAndInsertInSelect("#supplementTypeId", "Supplement Type", "supplementTypes");
            getResourcesFromAPIAndInsertInSelect("#flavorId", "Flavor", "flavors");

            $('#deliveryDate').val(getTodaysDate());

            function resetForm($form) {
                $form.find('input:text, input:password, input:file, select, textarea').val('');
                $("input[type=date]").val("");
            };

            $("#supplementForm").validate({
                errorPlacement: function ($error, $element) {
                    var name = $element.attr("name");
                    $("#error" + name).append($error);
                },
                rules: {
                    brand: {
                       maxlength: 30
                    }
                },
                submitHandler: function () {
                    var formData = $('#supplementForm').serializeArray().reduce(function (obj, item) {
                        obj[item.name] = item.value;
                        return obj;
                    }, {});
                    $.ajax({

                        url: "/api/supplements",
                        method: "POST",
                        data: formData
                    })
                        .done(function () {
                            toastr.success("Supplement successfully added.");
                            resetForm($('#supplementForm'));
                            $('#deliveryDate').val(getTodaysDate());

                        })
                        .fail(function () {
                            toastr.error("Unexpected error.");
                        });

                    return false;
                }
            });

        })



    </script>


}