body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
    max-width: none;
}

    .input-validation-error,
    input.error,
    select.error {
        border: 1px solid red;
    }

label.error {
    color: red;
}

.select option:first-child {
    display: none;
}

.pointer {
    cursor: pointer;
}

.bootbox .modal-header {
    display: block;
}

.logo {
    font-family: 'Permanent Marker', cursive;
}

textarea {
    resize: none;
}

.non-operational, .low-amount {
    color: #fc3939;
}

.carousel-item {
    height: 100vh;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    top: 38%;
    text-transform: uppercase;
}

    .carousel-caption h1 {
        font-size: 3.8rem;
        font-weight: 700;
        letter-spacing: .3rem;
        text-shadow: 0.1rem 0.1rem 0.8rem black;
        padding-bottom: 1rem;
    }

    .carousel-caption h3 {
        font-size: 2rem;
        text-shadow: 0.1rem 0.1rem 0.5rem black;
        padding-bottom: 1.6rem;
    }

.carousel-button {
    border-width: medium;
    font-size: 1.1rem;
}

.vertical-center {
    min-height: 90%;
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.selected {
    background-color: #acbad4;
}

    .selected :hover {
        background-color: #99a6bf;
    }

.welcome-message {
    padding: 50px 60px;
    -webkit-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    border-radius: 3px;
    color: white;
    background-color: rgba(89,49,150, 0.8);
}


@media (max-width:768px) {
    .carousel-caption h1 {
        font-size: 2rem;
    }

    .carousel-caption h3 {
        font-size: 1.3rem;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    body {
        padding-top: 70px;
    }
}

/*Hover dropdown*/
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

@media (min-width: 992px) {
    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
