<div class="card border-primary mb-3">
    <h4 class="card-header">The Equipment</h4>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item bg-light text-dark" id="serialNumber"><b>Serial Number: </b></li>
            <li class="list-group-item bg-light text-dark" id="brand"><b>Brand: </b></li>
            <li class="list-group-item bg-light text-dark" id="model"><b>Model: </b> </li>
            <li class="list-group-item bg-light text-dark" id="type"><b>Equipment Type: </b> </li>
            <li class="list-group-item bg-light text-dark" id="area"><b>Gym Area: </b> </li>
            <li class="list-group-item bg-light text-dark" id="deliveryDate"><b>Delivery Date:</b> </li>
        </ul>
    </div>
</div>

