
@{
    ViewBag.Title = "Malfunction Details";
}

<h2>@ViewBag.Title</h2>

<hr>

<div class="row">
    <div class="col-md-6">
        <div class="card border-primary mb-3">
            <h4 class="card-header">The Malfunction</h4>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item bg-light text-dark" id="id"><b>Id: </b></li>
                    <li class="list-group-item bg-light text-dark" id="title"><b>Title: </b></li>
                    <li class="list-group-item bg-light text-dark" id="description"><b>Description: </b></li>
                    <li class="list-group-item bg-light text-dark" id="malfunctionDate"><b>Malfunction Date: </b></li>
                    <li class="list-group-item bg-light text-dark" id="isRepaired"><b>Repaired: </b> </li>
                    <li class="list-group-item bg-light text-dark"><a id="editButton" href="#" class="btn btn-outline-primary" role="button"><i class="fa fa-edit"></i> Edit</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @Scripts.Render("~/scripts/GymManager/gm-handle-malfunction-details.js")
}
