
@{
    ViewBag.Title = "Malfunction History";
}

<h2 id="heading">@ViewBag.Title <a href="/Malfunctions" class="btn btn-danger ml-2" role="button"><i class="fa fa-undo"></i> Back</a></h2>


<hr>
<div class="row">
    <div class="col-md-8 border-right">
        <div class="table-responsive">
            <table id="malfunctionHistory" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Is repaired?</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("_EquipmentPropertiesUL")
    </div>
</div>


@section Scripts
{
    @Scripts.Render("~/scripts/GymManager/gm-get-single-equipment-data-and-insert-in-ul.js")
    <script>
        $(document).ready(function () {
            var url = $(location).attr('href');
            var id = url.substring(url.lastIndexOf('/') + 1);
            if (id > 0) {
                var table = $("#malfunctionHistory").DataTable({
                    ajax: {
                        url: "/api/equipment/" + id + "/malfunctions",
                        dataSrc: ""
                    },
                    "order": [[2, "asc"]],
                    columns: [
                        {
                            render: function (data, type, full, meta) {
                                return "<a href='/Malfunctions/Details/" + full.id + "' >" + full.title + "</a>";
                            }

                        },
                        {
                            data: "isRepaired",
                            render: function (data) {
                                if (data)
                                    return "Yes";
                                else
                                    return "<span class='non-operational'> No </span>";
                            }
                        },
                        {
                            data: "malfunctionDate",
                            render: function (data) {
                                var date = new Date(data);
                                var dateString = date.getFullYear() + '/'
                                    + ('0' + (date.getMonth() + 1)).slice(-2) + '/'
                                    + ('0' + date.getDate()).slice(-2);

                                return dateString;
                            }
                        }
                    ]
                });
            }
        })
    </script>



}

