
@{
    ViewBag.Title = "Malfunctions";
}

<h2>@ViewBag.Title</h2>
<a href="/Malfunctions/New" class="btn btn-primary mt-3" role="button">Report a Malfunction</a>

<hr>

<div class="table-responsive">
    <table id="equipment" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Equipment Serial Number</th>
                <th>Malfunction Date</th>
                <th>Is Repaired?</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


@section Scripts
{
    @Scripts.Render("~/scripts/GymManager/gm-handle-malfunctions-datatable.js");
}


