@model GymManager.Models.Area
@{
    ViewBag.Title = "Equipment Form";
}

<h2>Equipment Form</h2>
<hr/>

<form>


    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-copyright"></i></span>
        </div>
        <input class="form-control" placeholder="Brand" id="brand" name="brand" required>
    </div>

    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-copyright"></i></span>
        </div>
        <input class="form-control" placeholder="Model" id="model" name="model" required>
    </div>

    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <label class="input-group-text"><i class="fa fa-list"></i></label>
        </div>
        <select class="form-control" id="types" name="types"></select>
    </div>

    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <label class="input-group-text"><i class="fa fa-location-arrow"></i></label>
        </div>
        <select class="form-control" id="areas" name="areas"></select>
    </div>



    <div class="form-group mt-3">
        <label for="purchaseDate">Purchase Date</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
            </div>
            <input id="purchaseDate" type="date" class="form-control" name="purchaseDate" required>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/api/areas",
                data: "{}",
                success: function (data) {
                    var dropdownItems = '<option disabled selected value="">-- Gym Area --</option>';
                    for (var i = 0; i < data.length; i++) {
                        dropdownItems += '<option style="cursor: pointer;" class="dropdown-item" value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#areas").html(dropdownItems);
                }
            });

            $.ajax({
                type: "GET",
                url: "/api/types",
                data: "{}",
                success: function (data) {
                    var dropdownItems = '<option disabled selected value="">-- Equipment Type --</option>';
                    for (var i = 0; i < data.length; i++) {
                        dropdownItems += '<option style="cursor: pointer;" class="dropdown-item" value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#types").html(dropdownItems);
                }
            });
        });
    </script>
}