@model GymManager.Models.Area
@{
    ViewBag.Title = "Equipment Form";
}

<h2>Equipment Form</h2>
<hr>

<form id="newEquipment">
    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-copyright"></i></span>
        </div>
        <input class="form-control" placeholder="Brand" id="brand" name="brand" required>
    </div>

    <p id="errorbrand"></p>

    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-copyright"></i></span>
        </div>
        <input class="form-control" placeholder="Model" id="model" name="model" required>
    </div>

    <p id="errormodel"></p>

    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <label class="input-group-text"><i class="fa fa-list"></i></label>
        </div>
        <select class="form-control" id="typeId" name="typeId" required></select>
    </div>

    <p id="errortypeId"></p>

    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <label class="input-group-text"><i class="fa fa-location-arrow"></i></label>
        </div>
        <select class="form-control" id="areaId" name="areaId" required></select>
    </div>

    <p id="errorareaId"></p>

    <div class="form-group mt-3">
        <label for="purchaseDate">Purchase Date</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
            </div>
            <input id="purchaseDate" type="date" class="form-control" name="purchaseDate" required>
        </div>
    </div>

    <p id="errorpurchaseDate"></p>

    <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Submit</button>
    @Html.AntiForgeryToken()
    <a href="/Equipment/Index" class="btn btn-danger ml-2" role="button"><i class="fa fa-undo"></i> Back</a>
</form>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "/api/areas",
                data: "{}",
                success: function (data) {
                    var dropdownItems = '<option disabled selected value="">-- Gym Area --</option>';
                    for (var i = 0; i < data.length; i++) {
                        dropdownItems += '<option style="cursor: pointer;" class="dropdown-item" value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#areaId").html(dropdownItems);
                }
            });

            $.ajax({
                type: "GET",
                url: "/api/types",
                data: "{}",
                success: function (data) {
                    var dropdownItems = '<option disabled selected value="">-- Equipment Type --</option>';
                    for (var i = 0; i < data.length; i++) {
                        dropdownItems += '<option style="cursor: pointer;" class="dropdown-item" value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#typeId").html(dropdownItems);
                }
            });

            function resetForm($form) {
                $form.find('input:text, input:password, input:file, select, textarea').val('');
                $("input[type=date]").val("");
            };

            var csrfToken = $("input[name='__RequestVerificationToken']").val(); 


            $("#newEquipment").validate({
                errorPlacement: function ($error, $element) {
                    var name = $element.attr("name");

                    $("#error" + name).append($error);
                },

                submitHandler: function () {
                    var formData = $('#newEquipment').serializeArray().reduce(function (obj, item) {
                        obj[item.name] = item.value;
                        return obj;
                    }, {});


                    $.ajax({
                        headers: { __RequestVerificationToken: csrfToken },
                        url: "/api/equipment",
                        method: "post",
                        data: formData
                    })
                    .done(function () {
                        toastr.success("Equipment successfully added.");
                        resetForm($('#newEquipment'));

                    })
                    .fail(function () {
                        toastr.error("Unexpected error.");
                    });

                    return false;
                }
            });

        });
    </script>
}