
@{
    ViewBag.Title = "Index";
}

<h2>Equipment</h2>

<a href="/Equipment/New" class="btn btn-primary mt-3" role="button">New Equipment</a>
<hr>

<table id="equipment" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Purchase Date</th>
            <th width="3%"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#equipment").DataTable({
                ajax: {
                    url: "/api/equipment",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "brand"
                    },
                    {
                        data: "model"
                    },
                    {
                        data: "purchaseDate",
                        render: function (data) {
                            var date = new Date(data);
                            var day = date.getDate();
                            var month = date.getMonth() + 1;
                            var year = date.getFullYear();

                            return day + "/" + month + "/" + year;
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a class='pointer js-delete' data-equipment-id=" + data + "><i class='fa fa-trash'></i></a>";
                        }
                    }

                ]

            });

            $("#equipment").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this equipment?", function (result) {
                    if (result) {
                
                        $.ajax({
                            url: "/api/equipment/" + button.attr("data-equipment-id"),
                            method: "DELETE"
                        })
                        .done(function () {
                            table.row(button.parents("tr")).remove().draw();
                            toastr.success("Equipment successfully deleted.");

                        })
                        .fail(function () {
                            toastr.error("Unexpected error.");
                        });
                    }
                });
            });
        })
    </script>
}
