
@{
    ViewBag.Title = "Index";
}

<h2>Equipment</h2>

<a href="/Equipment/New" class="btn btn-primary my-3" role="button">New Equipment</a>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Type</th>
            <th>Brand</th>
            <th>Model</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ghg</td>
            <td>ghg</td>
            <td>ghg</td>
        </tr>
    </tbody>
</table>

