
@{
    ViewBag.Title = "Index";
}

<h2>Equipment</h2>

<a href="/Equipment/New" class="btn btn-primary mt-3" role="button">New Equipment</a>
<hr>

<div class="row">
    <div class="col-sm-6 col-md-12">
        <table id="equipment" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Purchase Date</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {

            $("#equipment").DataTable({
                ajax: {
                    url: "/api/equipment",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "brand"
                    },
                    {
                        data: "model"
                    },
                    {
                        data: "purchaseDate",
                        render: function (data) {
                            var date = new Date(data);
                            var day = date.getDate();
                            var month = date.getMonth() + 1;
                            var year = date.getFullYear();

                            return day + "/" + month + "/" + year;
                        }
                    }

                ]

            });
        })
    </script>

}
