<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/" class="navbar-brand"><i class="fas fa-dumbbell"></i> <span class="logo">Gym Manager</span></a>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Equipment</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Equipment">All equipment</a>
                        <a class="dropdown-item" href="/Equipment/New">Add new</a>
                        <a class="dropdown-item" href="/Malfunctions">Manage malfunctions</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Supplements</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Supplements">All supplements</a>
                        <a class="dropdown-item" href="/Supplements/New">Add new</a>
                        <a class="dropdown-item" href="/Flavors">Manage flavors</a>
                    </div>
                </li>
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
            </ul>
            <div>@Html.Partial("_LoginPartial")</div>
        </div>
    </div>
</nav>

